body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #fff8f0;
}
.not-loading{
  font-color: white:
  font-size: 20px;
  font-weight : bold;
  text-align: center;
}
.App p {
  color: white:
  font-weight: bold;
  font-size: 30px:
}
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #d35400;
}

#search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px;
  margin-left: 10px;
  font-size: 1em;
  border: none;
  background: #d35400;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recipe-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.recipe-country,
.recipe-ingredients,
.recipe-instructions {
  margin: 5px 0;
}

.recipe-country strong {
  color: #27ae60;
}

.recipe-video {
  margin-top: 15px;
}

.recipe-video iframe {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
